body {
    background-color: #F8EDE3;
    font-family: "Nunito", sans-serif;
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #BDD2B6;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
}

h2 {
    margin: 50px auto 0 auto;
    color: #BDD2B6;
    font-size: 3.25rem;
}


p {
    font-size: 1.25rem;
    color: #112D4E;
    margin: 50px auto 0 auto;
    
    
}


hr {
    border: dotted #112D4E 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
  }
.pro {
    text-decoration: underline;
  }
  .middle-container {
    margin: 50px auto;
    padding: 20px auto;
  }

  .card {
    margin: 50px auto;
    
  }
  .profile-card>img {
    border-radius: 50%;
    margin: 30px auto;
  }
 

  .top-container {
    padding-top: 100px;
  }

  .skill-card {
    width: 60%;
    margin: 50px auto 50px auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .skill-medicine {
    display: block;
    margin-bottom: 50px;
  }

  .skill-programming {
    display: block;
    margin-top: 50px;
  }


  img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

  .contact-card {
    margin: 200px auto 100px auto;
  }

  .btn {
    float: none;
    background: #112D4E;
    background-image: -webkit-linear-gradient(top, #BDD2B6, #A2B29F);
    background-image: -moz-linear-gradient(top, #BDD2B6, #A2B29F);
    background-image: -ms-linear-gradient(top, #BDD2B6, #A2B29F);
    background-image: -o-linear-gradient(top, #BDD2B6, #A2B29F);
    background-image: linear-gradient(to bottom, #BDD2B6, #A2B29F);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: "Nunito", sans-serif;
    color: #F8EDE3;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    margin: 50px auto;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3F72AF;
    background-image: -webkit-linear-gradient(top, #A2B29F, #BDD2B6);
    background-image: -moz-linear-gradient(top, #A2B29F, #BDD2B6);
    background-image: -ms-linear-gradient(top, #A2B29F, #BDD2B6);
    background-image: -o-linear-gradient(top, #A2B29F, #BDD2B6);
    background-image: linear-gradient(to bottom, #A2B29F, #BDD2B6);
    text-decoration: none;
    color: #112D4E;
  }

  .bottom-container {
    background-color: #A2B29F;
    padding: 30px 0 0 0;
  }

  .footer-link {
    color: #798777;
    text-decoration: none;
    margin: 25px 25px 25px 25px;
  }


  body {
    font-family: "Sono", sans-serif;
  }

  ul {
    list-style-type: none;
    padding: 0;

  }

  .pricing-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;

  }

  .pricing-plan {
    background-color: #f9f9f9;
    max-width: 400px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .plan-title, .plan-price {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
  }

  li {
    font-weight: lighter;
    margin-bottom: 20px;
  }

  .plan-button {
    background-color: hsl(43, 100%, 50%);
    border: none;
    border-radius: 5px;
    color: white;
    width: 80px;
    height: 30px;
  }

  @media (max-width: 1250px) {
    .top-container {
      display: block;
    }
    
    
    .middle-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      width: 100vw;
    }
    .middle-container>img{;
      float: none;
    }
  
  }
